beautifulsoup4==4.6.0
cssselect==1.0.1
ftfy==5.3.0
gitpython==2.1.5
lxml==4.2.3
psutil==5.5.0
pyhyphen==3.0.1
pyopenssl>=17.5.0	# Required to allows the `requests` package to use https on Mac OSX
python-magic==0.4.13
regex==2017.7.26
requests>=2.20.0
roman==2.0.0
smartypants==2.0.0
titlecase==0.11.0
termcolor==1.1.0
terminaltables==3.1.0
