@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

body{
	font-variant-numeric: oldstyle-nums;
	hyphens: auto;
	-epub-hyphens: auto;
}

p{
	margin: 0;
	text-indent: 1em;
}

hr{
	border: none;
	border-top: 1px solid;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

q::before,
q::after{
	content: "";
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup{
	font-variant: small-caps;
	hyphens: none;
	-epub-hyphens: none;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: center;
	margin: 3em 0;
}

hgroup > *{
	font-weight: normal;
	margin: 0;
}

hgroup > *:first-child{
	font-weight: bold;
}

blockquote + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
header + p,
hr + p,
ol + p,
ul + p,
table + p,
hgroup + p,
p:first-child{
	hanging-punctuation: first last;
	text-indent: 0;
}

cite{
	font-style: normal;
}

abbr{
	border: none;
	white-space: nowrap;
}

blockquote cite{
	display: block;
	font-style: italic;
	text-align: right;
}

blockquote cite i{
	font-style: normal;
}

b,
strong{
	font-variant: small-caps;
	font-weight: normal;
}

i > i,
em > i,
i > em{
	font-style: normal;
}

header{
	break-after: avoid;
	break-inside: avoid;
	hyphens: none;
	-epub-hyphens: none;
	text-align: center;
}

article > header + *,
section > header + *{
	margin-top: 3em;
}

a[epub|type~="noteref"]{
	font-size: .75em;
	font-style: normal !important;
	vertical-align: super;
}

section[epub|type~="endnotes"] > ol > li{
	margin: 1em 0;
}
