/* Proofreading CSS */
[epub|type~="z3998:roman"],
[lang]:not(html),
abbr,
time,
.proofreading,
span[epub|type]{
	background: #C0C0C0;
}

abbr.eoc{
	border: 1px solid;
}

/* Remove colored background from common abbreviations like Mr., which make reading distracting. */
abbr[epub|type~="z3998:name-title"]{
	background: transparent;
}
