@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="colophon"],
section[epub|type~="imprint"]{
	text-align: center;
}

section[epub|type~="colophon"] header,
section[epub|type~="imprint"] header{
	line-height: 0;
	margin-top: 3em;
}

section[epub|type~="colophon"] h2,
section[epub|type~="imprint"] h2{
	display: none;
}

img[epub|type~="z3998:publisher-logo"]{
	max-width: 25%;
}

section[epub|type~="colophon"] p,
section[epub|type~="imprint"] p{
	margin: 1em auto 0 auto;
	text-indent: 0;
}

section[epub|type~="imprint"] p{
	font-size: .75em;
	text-align: justify;
	width: 75%;
}

section[epub|type~="colophon"] p + p::before{
	border-top: 1px solid;
	content: "";
	display: block;
	margin: auto auto 1em auto;
	width: 25%;
}

section[epub|type~="colophon"] a{
	font-variant: small-caps;
}

section[epub|type~="imprint"] a,
section[epub|type~="colophon"] a{
	hyphens: none;
	-epub-hyphens: none;
}

section[epub|type~="copyright-page"] p{
	margin: 1em auto;
	text-indent: 0;
}

section[epub|type~="copyright-page"] blockquote p{
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

section[epub|type~="copyright-page"] blockquote p span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

section[epub|type~="copyright-page"] blockquote br{
	display: none;
}

@supports(display: flex){
	section[epub|type~="imprint"]{
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="imprint"] header{
		margin-bottom: 2em;
		margin-top: 0;
	}

	img[epub|type~="z3998:publisher-logo"]{
		max-width: 25vw;
	}
}
